*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

section{
	width: 100%;
	height: 100vh;
		display: flex;
	flex-direction: row;
	background: #F0F0F0;
}

.navbar1{

	background: linear-gradient(90deg, #43CEA2 0%, #185A9D 100%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px 10px 40px;
	
	position: absolute;
	width: 100%;
	height: 8vh;
	left: 0px;
	top: 0px;
	
}

.navbar1A  ul{
	display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 0px;

position: static;
width: 203px;
height: 20px;
left: 40px;
top: 21px;
}

.navbar1A ul li{
	position: static;
	width: 45px;
	height: 19px;
	left: 0px;
	top: 0.5px;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */
	list-style-type:  none;
	letter-spacing: 0.03em;
	cursor: pointer;
	
	color: #FFFFFF;
	
	
}

.navbar1B ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	
	position: static;
	width: 326px;
	height: 29px;
	left: 1094px;
	top: 16.5px;
	
}

.navbar1B ul li{
	position: static;
	width: 88px;
	height: 19px;
	left: 0px;
	top: 5px;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	list-style-type:  none;
	color: #FFFFFF;
	cursor: pointer;
	display: flex;
	justify-content: space-evenly;

}

.firstlist{display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 5px;
	margin-left: 5px;
	
	position: static;
	width: 84px;
	height: 29px;
	left: 108px;
	top: 0px;
	
	background: #002832;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.navbar2{
	/* Auto Layout */
	background: linear-gradient(90deg, #2C3E50 0%, #3498DB 100%);
padding: 30px 20px 30px 40px;

position: relative;
width: 100%;
height: 7vh;
left: 0px;
top: 62px;
display: flex;
flex-direction: row;
align-items: center;
}

.navbar2 ul{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 60%;
color: white;
list-style: none;
cursor: pointer;
}

.bi{
	margin-right: 8px;
}
#firstElement{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;

position: static;
width: 220px;
height: 34px;
left: 40px;
top: 8.5px;

background: #00AAA0;
border-radius: 5px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 40px;

}

.contentArea{
	height: 84.5vh;
}

.leftArea{
	position: absolute;
width: 289px;
height: 84.5vh;
left: 0px;
top: 122px;

background: linear-gradient(56.53deg, #2774AE 19.9%, #002E5D 47.17%, #001A5D 88.6%);

}

.centerArea{
	position: absolute;
	width: 530px;
	height: 530px;
	left: 599px;
	top: 150px;
	
	background: white;
}

.rightIcons{
	display: flex;
flex-direction: row;
align-items: flex-start;

padding: 0px;

position: absolute;
width: 200.03px;
height: 28px;
left: 1156px;
top: 690px;
background-color: white;
border-radius: 3px;

}
.rightIcons ul{
	display: flex;
	list-style: none;
	margin-left: 30px;
	justify-content: space-evenly;
	text-shadow: black;
	font-weight: 900;
	font-size:20px; 
padding-top: 2px;

}
.rightIcons ul li{
margin-right: 5px;}